<style>
* {
  box-sizing: border-box;
}

#htt {font-family:Helvetica, sans-serif;font-size:16px;font-style:italic;font-weight:normal;color:blue;}

#onlypara {
  font-family:Helvetica, sans-serif;
  font-size:10px;
  font-style:italic;
  font-weight:normal;
  color:#000000;
  background-color:#ffffff;
}

#myInput {
  background-image: url('/css/searchicon.png');
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 96%;
  right:2;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li a {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block
}

#myUL li a:hover:not(.header) {
  background-color: #eee;
}

#college{
  background-color: #555;
   color: white;
   font-size: 25px;
     padding: 15px 15px;
}

#footnote {
  background-color: #555;
  color: white;
  float: right;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 10px;
  font-size: 15px;
  width: 10%;
  margin-left:3px;
  text-align: center;
}

footer {
   position: fixed;
   left: 1;
   bottom: 0;
   width: 99%;
   height:10%;
   background-color: #555;
   color: white;
   text-align: center;
   padding: 1px 1px;
}

table.GeneratedTable {
  width: 100%;
  background-color: #ffffff;
  border-collapse: collapse;
  border-width: 1px;
  border-color: #555;
  border-style: groove ;
  color: #000000;
}

table.GeneratedTable td, table.GeneratedTable th {
  border-width: 1px;
  border-color: #555;
  border-style: groove ;
  padding: 3px;
}

table.GeneratedTable thead {
  background-color: #555;
  color : white;
  font-size: 20px;
}

body {
  background-color: #f1f1f1;
  font-family: Arial;
}

/* Center website */
.main {
  width: 98%;
  /*margin: auto;*/
}

h1 {
  font-size: 50px;
  word-break: break-all;
}

.row {
  margin: 7px;
    margin-left: 7px;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
  padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 30%;
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content1 {
	margin-left:2px;
  background-color: white;
  padding: 8px;
}

.heading {
	left:6px;
}

.database {
  margin-left:18px;
  background-color: white;
  padding: 8px;
  width:92%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
	 margin-left:6px;
    width: 20%;
	  padding: 8px;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 250px) {
  .column {
    width: 20%;
  }
}

</style>